@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
  font-style: Light;
  font-weight: 300;
}
@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Medium.ttf");
  font-style: Medium;
  font-weight: 500;
}
@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf");
  font-style: Bold;
  font-weight: 700;
}
@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
  font-style: Black;
  font-weight: 800;
}
body footer .gradient-footer .contacts-div .contacts, body footer .gradient-footer .contacts-div, body footer .gradient-footer, body footer, body .numbers ul, body .numbers, body .news .new-container__item .div-new-pict, body .news, body nav .nav-container, body nav {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Helventica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
  color: #001F61;
}
* h1 {
  font-size: 60px;
  font-weight: 500;
}
* h2 {
  font-size: 35px;
  font-weight: 300;
}
* h3 {
  font-size: 24px;
  font-weight: 300;
}
* h4 {
  font-size: 20px;
  font-weight: 300;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav {
  background-color: #BEE154;
  min-height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .nav-container {
  max-width: 1439px;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .nav-container img {
  cursor: pointer;
}
body nav .nav-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 588px;
}
body nav .nav-container ul .underline-page {
  text-decoration: underline;
  font-weight: 500;
}
body nav .nav-container ul li {
  cursor: pointer;
}
body nav .nav-container ul li:hover {
  color: #489FDF;
}
body nav .nav-container ul a:link {
  text-decoration: none;
}
body .titles {
  margin-top: 120px;
}
body .news {
  max-width: 1200px;
  min-height: 394px;
}
body .news .new-container {
  margin-top: 84px;
}
body .news .new-container__item {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .news .new-container__item .div-new-pict {
  max-width: 504px;
  min-height: 336px;
}
body .news .new-container__item .text-div {
  max-width: 550px;
  padding-left: 46px;
}
body .news .new-container__item .text-div h2 {
  margin-top: 60px;
}
body .news .new-container__item .text-div a {
  font-size: 24px;
}
body .news .new-container__item .text-div a:hover {
  color: #489FDF;
}
body .numbers {
  margin-top: 84px;
  max-width: 305px;
}
body .numbers ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 305px;
}
body .numbers ul li {
  font-size: 35px;
  cursor: pointer;
}
body .numbers ul li:hover {
  color: #489FDF;
}
body footer {
  margin-top: 120px;
  min-height: 480px;
  background: linear-gradient(266.42deg, #BEE154 0%, #489FDF 50%, #001F61 100%), url("../photos/about-pict/gradient-logo.svg") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body footer .gradient-footer {
  max-width: 1770px;
  min-height: 480px;
  background: url("../photos/about-pict/gradient-logo.svg") bottom left no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body footer .gradient-footer .contacts-div {
  max-width: 1058px;
  min-height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body footer .gradient-footer .contacts-div .contacts {
  max-width: 301px;
}
body footer .gradient-footer .contacts-div .contacts h3 {
  font-weight: 500;
  font-size: 25px;
  color: white;
}
body footer .gradient-footer .contacts-div .contacts h4 {
  margin-top: 14px;
  color: white;
  line-height: 24px;
  max-width: 301px;
}
body footer .gradient-footer .contacts-div .address {
  margin-top: 60px;
}
body footer .gradient-footer .contacts-div .address h3 {
  font-weight: 500;
  font-size: 25px;
  color: white;
}
body footer .gradient-footer .contacts-div .address h4 {
  margin-top: 14px;
  color: white;
  line-height: 24px;
  max-width: 301px;
}
body .hidden {
  display: none;
}
body .active {
  color: #489FDF;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 12px;
  height: 4px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #BEE154;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #001F61;
}