@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
  font-style: Light;
  font-weight: 300;
}
@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Medium.ttf");
  font-style: Medium;
  font-weight: 500;
}
@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
  font-style: Black;
  font-weight: 800;
}
body .main-cotainer, body nav .nav-container, body nav {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Helventica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
  color: #001F61;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body nav {
  background-color: #BEE154;
  min-height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .nav-container {
  max-width: 1439px;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .nav-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 588px;
}