@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
  font-style: Light;
  font-weight: 300;
}
@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Medium.ttf");
  font-style: Medium;
  font-weight: 500;
}
@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf");
  font-style: Bold;
  font-weight: 700;
}
@font-face {
  font-family: "Helventica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
  font-style: Black;
  font-weight: 800;
}
body .vacancy__item .main .plus .horizontal, body .vacancy__item .main .plus .vertical, body .vacancy__item .main .plus, body .vacancy__item, body .vacancy, body nav .nav-container, body nav {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Helventica Neue Cyr";
  font-size: 18px;
  font-weight: 300;
  color: #001F61;
}
* h1 {
  font-size: 60px;
  font-weight: 500;
}
* h2 {
  font-size: 35px;
  font-weight: 300;
}
* h3 {
  font-size: 24px;
  font-weight: 300;
}
* h4 {
  font-size: 20px;
  font-weight: 300;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav {
  background-color: #BEE154;
  min-height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .nav-container {
  max-width: 1439px;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body nav .nav-container img {
  cursor: pointer;
}
body nav .nav-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 588px;
}
body nav .nav-container ul .underline-page {
  text-decoration: underline;
  font-weight: 500;
}
body nav .nav-container ul li {
  cursor: pointer;
}
body nav .nav-container ul li:hover {
  color: #489FDF;
}
body nav .nav-container ul a:link {
  text-decoration: none;
}
body .titles {
  margin-top: 120px;
}
body .vacancy {
  margin-top: 30px;
  max-width: 1080px;
}
body .vacancy__item {
  max-width: 1080px;
  min-height: 132px;
  border: 2px solid #001F61;
  margin-top: 30px;
  overflow-y: hidden;
  -webkit-transition: min-height 1s;
  transition: min-height 1s;
}
body .vacancy__item .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 26px;
  padding-top: 26px;
}
body .vacancy__item .main h1 {
  max-width: 924px;
  min-height: 80px;
}
body .vacancy__item .main .plus {
  max-width: 48px;
  min-height: 48px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
body .vacancy__item .main .plus .vertical {
  max-width: 4px;
  min-height: 48px;
  background-color: #001F61;
  border-radius: 1em;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
body .vacancy__item .main .plus .horizontal {
  max-width: 48px;
  min-height: 4px;
  background-color: #001F61;
  margin-left: -26px;
  border-radius: 1em;
}
body .vacancy__item .main .plus .active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
body .vacancy__item .main .plus .shown {
  min-height: 922px;
}