@font-face {
  font-family: 'Helventica Neue Cyr';
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
  font-style: Light;
  font-weight: 300;
}

@font-face {
  font-family: 'Helventica Neue Cyr';
  src: url("../fonts/HelveticaNeueCyr-Medium.ttf");
  font-style: Medium;
  font-weight: 500;
}

@font-face {
  font-family: 'Helventica Neue Cyr';
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
  font-style: Black;
  font-weight: 800;
}

%size {
    width: 100%;
    height: 100%;
}

$green: #BEE154;
$blue: #489FDF;
$dark-blue: #001F61;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Helventica Neue Cyr';
  font-size: 18px;
  font-weight: 300;
  color: #001F61;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;

    nav {
      @extend %size;
      background-color: $green;
      min-height: 73px;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-container {
        @extend %size;
        max-width: 1439px;
        min-height: 51px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          max-width: 588px;
        }
      }
    }
    
    .main-cotainer {
      @extend %size;
      
    }
}